* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 4;
    max-width: 800px;
    padding: 50px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #854545;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
  }
  
  /* Repeat the same styling for bar-4, bar-3, bar-2, and bar-1 */
  